altair
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
distlib
Django
docutils
executing
fastjsonschema
filelock
fonttools
fqdn
gitdb
GitPython
gunicorn
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jaraco.classes
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
keyring 
kiwisolver
markdown-it-py
MarkupSafe
matplot
matplotlib
matplotlib-inline
mdurl
mistune
more-itertools
mysqlclient
nbclient
nbconvert
nbformat
nest-asyncio
nh3
notebook
notebook_shim
numpy
opencv-python
overrides
packaging
pandas
pandocfilters
parso
Pillow
pkginfo
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg2-binary
pure-eval
pyarrow
pycparser
pydeck
Pygments
pyloco
pyparsing
python-dateutil
python-json-logger
pytz
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
readme-renderer
referencing
requests
requests-toolbelt
rfc3339-validator
rfc3986
rfc3986-validator
rich
rpds-py
Send2Trash
SimpleWebSocketServer
six
smmap
sniffio
soupsieve
sqlparse
stack-data
streamlit
tenacity
terminado
tinycss2
toml
toolz
tornado
traitlets
twine
types-python-dateutil
typing
typing_extensions
tzdata
tzlocal
uri-template
urllib3
ushlex
validators
virtualenv
watchdog
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
zipp
